
h1{
    color: yellow;
    font-size: 30px;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
}

img{
    display: block;
    margin: auto;
}

.description{
    color: yellow;
    font-size: 27px;
    font-family: 'Times New Roman', Times, serif;
}

p{
    color: yellow;
    font-size: 25px;
    font-family: 'Times New Roman', Times, serif;
}

#ingredients{
    color: yellow;
    font-size: 27px;
    font-family: 'Times New Roman', Times, serif;
}

ul li{
    color: yellow;
    font-size: 25px;
    font-family: 'Times New Roman', Times, serif;
}
.steps{
    color: yellow;
    font-size: 27px;
    font-family: 'Times New Roman', Times, serif;
}

ol li{
    color: yellow;
    font-size: 25px;
    font-family: 'Times New Roman', Times, serif;
}

a{
    color: blue;
    font-size: 50px;
    font-family: 'Times New Roman', Times, serif;
    border: 2px solid white;
}

body{
    background-color: black;
}