body

h1{
    color: yellow;
    background-color: rgb(109, 224, 222);
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    font-size: 45px;
    padding: 20px;
    margin-left: 500px;
    margin-right: 500px;
    border-style: ridge;
    border-width: 5px;

    
}

img{
    display: block;
    margin: auto;
    
}

h3{
    text-align: left;
    color: yellow;
    font-family: 'Times New Roman', Times, serif;
    background-color:rgb(109, 224, 222) ;
    font-size: 30px;
    margin-right: 1500px;
    border-style: groove;
    border-width: 5px;
    padding: 30px;

}

ul{
    background-color:   ;

}

.chick1{
    color: black;
    font-size: 24px;

}

.chick2{
    color: black;
    font-size: 24px;

}
.chick3{
    color: black;
    font-size: 24px;

}
body{
    background-color: red ;
    
}

p{
    font-size: 30px;
    color: black;
    background-color: aqua;
    margin-right: 1400px;
    border-width: 6px;
    border-style: ridge;

}